@if (assignmentTransmis) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>Détails du devoir sélectionné</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Nom :</strong> {{ assignmentTransmis.nom }}</p>
      <p><strong>Date de rendu :</strong> {{ assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Rendu :</strong> {{ assignmentTransmis.rendu ? 'Oui' : 'Non' }}</p>
    </mat-card-content>
      <mat-card-actions>
        @if (!assignmentTransmis.rendu) {
          <mat-checkbox (click)="onAssignmentRendu()">Rendu</mat-checkbox>
        }
        <button mat-flat-button color="warn" (click)="onDelete()">DELETE</button>
      </mat-card-actions>
  </mat-card>
}