<h2>Ajoutez un devoir</h2>
<form ngForm (submit)="onSubmit(); assignmentForm.reset()" #assignmentForm>
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom"
            placeholder="Nom du devoir" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" 
            placeholder="Date de rendu" 
            [(ngModel)]="dateDeRendu" name="date" required
        >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-stroked-button  
        color="primary"
        [disabled]="!ajoutActive"
    >
        Ajouter un devoir
    </button>
</form>


