.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

mat-form-field {
    width: 100%;
}
